.titulo {
  margin-top: 0;
}

.carousel {
  margin-top: 0;
  height: 400px;
}
.carousel .carousel-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel .carousel-item h5 {
  color: #000000;
}


