.contenedor-titulo {
  text-align: center;
  margin-top: 70px;
}

.titulo {
  margin-bottom: -30px;
}

.carousel-item h5 {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
